/*font-family: 'Acme', sans-serif;
font-family: 'Cinzel', serif;*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  text-align: center;
  background-color: #b22222;
  padding: 10px 0;
  font-family: 'Acme', sans-serif;
  color: #00008b;
}